@model Inspinia_MVC5.Models.cPersonasUsuarios


@using (Html.BeginForm("Create", "Personas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @*<div class="form-group">
            @Html.LabelFor(model => model.per_Identidad, new { @class = "control-label col-md-1  col-md-offset-1" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.per_Identidad, new { htmlAttributes = new { @class = "mascaraIdentidad" } })
                @Html.ValidationMessageFor(model => model.per_Identidad)
            </div>

            @Html.LabelFor(model => model.per_Telefono, new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.per_Telefono, new { htmlAttributes = new { @class = "mascaratelefono", @data_mask = "+999 9999 9999" } })
                @Html.ValidationMessageFor(model => model.per_Telefono)
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-1 col-md-offset-1">
            <b><p class="control-label ">Usuario:</p></b>
        </div>
        <div class="col-md-4">
            @Html.EditorFor(model => model.usu_NombreDeUsuario, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.usu_NombreDeUsuario)
        </div>
        <div class="col-md-1">
            <b><p class="control-label ">Fotografía:</p></b>
        </div>
        <div class="col-md-4">
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput">
                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                    <span class="fileinput-filename"></span>
                </div>
                <span class="input-group-addon btn btn-default btn-file">
                    <span class="fileinput-new">Seleccione su fotografia</span>
                    <span class="fileinput-exists">Cambiar</span>
                    <input type="file" class="form-control-file" name="file" id="file" style="width: 100%;" />
                </span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-md-offset-1">
                <b><p class="control-label ">Contraseña:</p></b>
            </div>
            <div class="col-md-4">
                <input type="password" name="usu_Contrasenia" id="usu_Contrasenia" class="text-box single-line" placeholder="*****" />
            </div>
            <div class="col-md-1">
                <b><p class="control-label">Confirmar contraseña:</p></b>
            </div>
            <div class="col-md-4">
                <input type="password" name="usu_Contrasenia1" id="usu_Contrasenia1" class="text-box single-line" placeholder="*****" />
                <p id="errorclave" class="text-danger"></p>
            </div>
        </div>
}