@model IEnumerable<Inspinia_MVC5.Models.ServicioExterno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string L1 = "";
    decimal L2 = 0;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicita nuestros servicios!</h2>
    </div>
</div>

@Html.AntiForgeryToken()

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-content">
                        <h5>Seleccione el/los vehiculos para los cuales desea solicitar nuestros servicios</h5>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        @foreach (var item in Model)
                        {
                            L1 = item.Precio.ToString("0.00");
                            L2 = decimal.Parse(L1);

                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box objetosServicios" data-value="@item.Id" data-precio="@L2" data-descripcion="@item.Descripcion">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                <i data-Id="@item.Id" data-desc="@item.Descripcion" data-imgsrc="@item.Directorio" class="fa fa-info-circle info Idetalles"></i>
                                                @L2<sub>Lps.</sub>
                                            </span>
                                            <a href="#" class="product-name">
                                                @item.Titulo
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <hr />
                    <div id="confirmar" style="visibility:hidden;">
                        <input type="submit" id="Continuar" class="btn btn-primary" value="Continuar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalDetalles" tabindex="-1" role="dialog" aria-labelledby="AgregarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="ContenidoDetalles">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/app/General/Servicios/externo")
}